body { 
  margin: 0; 
  overflow: hidden; 
  background-color: #000; 
  font-family: sans-serif; 
}

#label { 
  position: absolute; 
  top: 20px; 
  left: 20px; 
  color: cyan; 
  z-index: 100; 
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;
  pointer-events: none;
}

canvas { display: block; }